{% extends 'base.html.twig' %}

{% block title %}Modifier votre plat - Food To You{% endblock %}
{% block css %}<link rel="stylesheet" href="css/manel.css">{% endblock %}


{% block body %}
    <h1>Modifier votre plat</h1>

    <div class="formProduct">
        {{ form_start(form) }}

        {{ form_errors(form.title) }}
        {{ form_row(form.title)}}

        {{ form_errors(form.description) }}
        {{ form_row(form.description)}}

        {{ form_row(form.image, {'required': false})}}
        {{ form_row(form.price)}}

        <div class="choice">
            {{ form_row(form.category)}}
            {{ form_row(form.diet)}}
        </div>

        <h6>Disponibilté de votre plat</h6>
        <div class="time">
            {{ form_row(form.timeMin)}}
            {{ form_row(form.timeMax)}}
        </div>

        {{ form_row(form.submit)}}

        {{ form_end(form) }}
    </div>
    
    <a href="{{ path('product_show', {'id': product.id}) }}">Revenir à la publication</a>


		{% block js %} <script src="js/manel.js"></script> {% endblock %}

{% endblock %}
 