{% extends 'base.html.twig' %}

{% block title %}{{ product.title }} - Food To You{% endblock %}
{% block css %}<link rel="stylesheet" href="css/manel.css">{% endblock %}

{% block body %}

    <h1>{{ product.title }}</h1>

    <div class="container">
        <div class="display">
            <figure>
                    <img src="../assets/images_directory/{{product.image}}" alt="image du plat" width="70%">
                </figure>
                <div class="content">
                    <p>
                        {{ product.description }}
                    </p>
                    <p>
                        Ce plat est disponible de {{ product.timeMin ? product.timeMin|date('H:i') : '' }} jusqu'à {{ product.timeMax ? product.timeMax|date('H:i') : '' }}
                    </p>
                    <p class="price">
                        {{ product.price }} € 
                    </p>
                </div>
        </div>

        {% if app.user.id == userProduct %}
            <div class="button">
                <div>
                    <a href="{{ path('home')}}"><button type="button" class="btn btn-primary">Valider</button></a>
                </div>
                
                <div>
                    <a href="{{ path('product_edit', {'id': product.id}) }}"><button type="button" class="btn btn-secondary">Modifier</button></a>
                </div>
                
                <div>
                    {{ include('product/_delete_form.html.twig') }}
                </div>
            </div>
        {% else %}
            <a href="#"><button type="button" class="btn btn-primary">Commander</button></a>
        {% endif %}
           
    </div>

{% endblock %}

{% block js %} <script src="js/manel.js"></script>  {% endblock %}