{% extends 'base.html.twig' %}

{% block title %}Modifier votre profil{% endblock %}

{% block body %}
    <h1>Modifier votre profil</h1>

    {{ form_start(form) }}

    
    {{ form_row(form.lastName)}}
    {{ form_row(form.firstName)}}
    {{ form_row(form.address)}}

    {{ form_errors(form.cp) }}
    {{ form_row(form.cp)}}

    {{ form_row(form.city)}}

    {{ form_errors(form.phone) }}
    {{ form_row(form.phone)}}

    {{ form_row(form.email)}}

    {{ form_errors(form.password) }}
    {{ form_row(form.password)}}

    {{ form_row(form.details)}}
    {{ form_row(form.submit, {'label': 'Modifier votre profil'})}}
    {# {{ form_widget(form) }} #}

    {# <button class="btn">{{ button_label|default('Save') }}</button> #}




{{ form_end(form) }}


    <a href="{{ path('user_index') }}">Retour</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
