{% extends 'base.html.twig' %}

{% block title %}Votre profil{% endblock %}

{% block body %}

<div class="jumbotron" id="user">
  <h2 class="display-4">{{ user.firstName|capitalize }} {{ user.lastName|upper }}</h2>
  <p class="lead">{{ user.address }} <br> {{ user.cp }} {{ user.city }} <br> {{ user.phone }} <br> {{ user.email }}</p>
  <hr class="my-4">
  {# <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> #}
  <a class="btn btn-primary btn-lg" href="{{ path('user_edit', {'id': user.id}) }}" role="button">Modifier votre profil</a>
  {# <a class="btn btn-outline-danger btn-lg delete-user" href="{{ path('home')}}" role="button" id="{{user.id}}">Supprimer votre profil</a>  #}
 
    {{ include('user/_delete_form.html.twig') }} 

</div>

  
    {% endblock %}
    
{% block js %}
<script src="/js/soline.js"></script>
{% endblock %}